# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ideaWorkSpace\thinking-in-spring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
